<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <form action="" method="post" class="">
        {% csrf_token %}

        <div class="row">
            {% for input in form %}
            <div class="col-xs-6 col-lg-12">
                <div class="form-group">
                <label for="{{input.name}}">{{input.label}}</label>
                {{input}}
                </div>
            </div>
            {% endfor %}
        </div>

        <input type="submit">
    </form>
</body>
</html>